
<h1>Add new <%= @model_definition.label %></h1>

<div class="">

  <form id="thisForm" accept-charset="UTF-8" action="/" method="POST">
    <input type="hidden" name="utf8" value="✓">
    <fieldset>
      <% @model_definition.field_definitions.each do |field_definition| %>
        <div class="form-group">
          <label><%= field_definition.label %></label>
          <% if field_definition.field_type == "text" %>
            <input type="text" name="<%= field_definition.label.to_underscore %>" class="form-control">
          <% elsif field_definition.field_type == "paragraph" %>
            <textarea rows="5" name="<%= field_definition.label.to_underscore %>" class="form-control"></textarea>
          <% end %>
        </div>
      <% end %>

    </fieldset>

    <hr>

    <fieldset>
      <div class="form-group">
        <label>Submit this form to:
          <input type="text" placeholder="http://url.com" value="http://example.com" id="form-action" class="form-control col-lg-6">
        </label>
      </div>

        <input type="submit" value="Submit" id="submit" class="btn btn-success col-lg-1" >
    </fieldset>

  </form>


</div><!--  -->

<script type="text/javascript">
  $(function(){

    $('input#submit').click(function(){
      $('#thisForm').get(0).setAttribute('action', $('#form-action').val());
    });

  });
</script>
