// Place all the styles related to the model controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.tab-pane#builder-tab{
  padding-top: 10px;
}

#formbuilder{
  position: relative;
}

.submit-model{
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}

.fb-save-wrapper{
  display: none;
  right: 122px !important;
  top: 12px !important;
}
